body {
  font-family: sans-serif;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.NavBar {
  background-color: aqua;
  align-items: flex-end;
}

.UserProfile {
  display: flex;
}